{% extends 'menu.html' %}
{% block content %}

<body class=" bg-dark">
  <main class="container py-5">
    <div class="row gap-3 justify-content-center align-items-center" style="color: white;">
      <h4 class="d-flex justify-content-center" style="font-family: monospace;">Seja Bem-Vindo ao YourNotes - O Seu
        Espaço para Notas Pessoais.</h4>
      <h5 class="d-flex text-center" style="color: white; font-family: monospace;">No YourNotes, a simplicidade se
        encontra com a praticidade para proporcionar a você a ferramenta perfeita para organizar e manter todas as suas
        notas pessoais em um único lugar. Seja para lembretes, listas de tarefas, ou apenas para guardar pensamentos, o
        YourNotes está aqui para simplificar a sua vida.</h5>
      <hr class="bg-light">
      <div class="card" style="width: 18rem; height: 14rem;">
        <div class="card-body">
          <h5 class="card-title text-dark">Crie e Organize Notas</h5>
          <p class="card-text card-subtitle mb-2 text-muted">Com apenas alguns cliques, você pode criar notas pessoais.
            Dê a cada nota um título significativo e organize-as por categorias para encontrar facilmente o que você
            procura.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem; height: 14rem;">
        <div class="card-body">
          <h5 class="card-title text-dark">Acesso de Qualquer Lugar</h5>
          <p class="card-text card-subtitle mb-2 text-muted"> O YourNotes é totalmente online e sincronizado na nuvem, o
            que significa que você pode acessar suas notas de qualquer dispositivo a qualquer momento.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem; height: 14rem;">
        <div class="card-body">
          <h5 class="card-title text-dark">Privacidade e Segurança</h5>
          <p class="card-text card-subtitle mb-2 text-muted">Suas notas são preciosas, e levamos a sua privacidade a
            sério. O YourNotes oferece segurança de ponta para proteger suas informações pessoais.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem; height: 14rem;">
        <div class="card-body">
          <h5 class="card-title text-dark">Personalização</h5>
          <p class="card-text card-subtitle mb-2 text-muted">Escolha entre uma variedade de temas e estilos para
            personalizar a aparência do seu espaço de notas.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem; height: 14rem;">
        <div class="card-body">
          <h5 class="card-title text-dark">Lembretes e Notificações</h5>
          <p class="card-text card-subtitle mb-2 text-muted">Defina lembretes para suas notas e receba notificações para
            nunca mais esquecer um compromisso importante.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem; height: 14rem;">
        <div class="card-body">
          <h5 class="card-title text-dark">Colaboração</h5>
          <p class="card-text card-subtitle mb-2 text-muted">Compartilhe notas com amigos e familiares para colaboração
            em projetos ou listas compartilhadas.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem; height: 14rem;">
        <div class="card-body">
          <h5 class="card-title text-dark">Busca Inteligente</h5>
          <p class="card-text card-subtitle mb-2 text-muted">Encontre suas notas instantaneamente com nossa poderosa
            ferramenta de busca.</p>
        </div>
      </div>
      <hr class="bg-light">
      <div style="font-family: monospace;">
        <h4 class="d-flex justify-content-center">Comece Agora:</h4>
        <h5 class="d-flex text-center">Criar uma conta no YourNotes é rápido e fácil. Basta fazer login e começar a
          criar suas notas pessoais. Simplifique sua vida e mantenha todas as suas ideias e informações importantes
          organizadas e acessíveis. O YourNotes está aqui para tornar a sua jornada de anotações mais fácil e eficiente.
        </h5>
        <br>
        <h5 class="d-flex text-center">Junte-se a nós no YourNotes e descubra como a organização pessoal pode ser
          simples, intuitiva e altamente eficaz. Seja bem-vindo ao futuro das notas pessoais!
        </h5>
      </div>
      <hr class="bg-light">
      <h2 class="text-center" style="font-family: monospace;">Planeja se juntar a gente?</h2>
      <div class="button-wrapper d-flex justify-content-center">
        <button class="botton"
          style="transition: all 0.1s ease 0s; transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg); box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px;">Não</button>
        <button type="submit" class="botton">Sim</button>
      </div>

    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

<style>
  .botton {
    display: block;
    padding: 0.75rem 1.25rem;
    border: 0;
    border-radius: 4px;
    background-color: hsl(218deg 92% 57%);
    color: #fff;
    user-select: none;
    font-size: 1rem;
    transform-style: preserve-3d;
  }

  .botton:before,
  .botton:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
    background-color: hsl(218deg 92% 35%);
    transform: translateZ(-5px);
  }

  .botton:after {
    background-color: hsl(218deg 92% 20%);
    transform: translateZ(-10px);
  }

  .button-wrapper {
    gap: 10px;
    display: flex;
    position: relative;
    perspective: 400px;
    align-self: flex-start;
  }

  hgroup {
    width: 100%;
    margin: 0 0 2rem 0;
  }
</style>

<script>
  const button = document.querySelector(".botton");

  const distanceBetween = (p1x, p1y, p2x, p2y) => {
    const dx = p1x - p2x;
    const dy = p1y - p2y;
    return Math.sqrt(dx * dx + dy * dy);
  };

  document.addEventListener("mousemove", (event) => {
    const radius = Math.max(
      button.offsetWidth * 0.75,
      button.offsetHeight * 0.75,
      100
    );

    const bx =
      button.parentNode.offsetLeft + button.offsetLeft + button.offsetWidth / 2;
    const by =
      button.parentNode.offsetTop + button.offsetTop + button.offsetHeight / 2;

    const dist = distanceBetween(event.clientX, event.clientY, bx, by);
    const angle = Math.atan2(event.clientY - by, event.clientX - bx);

    const ox = -1 * Math.cos(angle) * Math.max(radius - dist, 0);
    const oy = -1 * Math.sin(angle) * Math.max(radius - dist, 0);

    const rx = oy / 2;
    const ry = -ox / 2;

    button.style.transition = `all 0.1s ease`;
    button.style.transform = `translate(${ox}px, ${oy}px) rotateX(${rx}deg) rotateY(${ry}deg)`;
    button.style.boxShadow = `0px ${Math.abs(oy)}px ${(Math.abs(oy) / radius) * 40
      }px rgba(0,0,0,0.15)`;
  });

  const nocheat = () => (button.textContent = "No cheating 🙅‍♂️");
  const notouch = () =>
    (button.textContent = "This thing doesn't work with touch 😢");

  button.addEventListener(
    "click",
    (event) => (button.textContent = "You win 🎉🙃")
  );
  button.addEventListener("keydown", (event) => {
    event.preventDefault();
    nocheat();
  });
  button.click = nocheat;

  if (navigator.userAgent.match(/Android|iPhone|iPad|iPod/i)) notouch();
  window.addEventListener("touchstart", notouch);
</script>
{% endblock %}